{%extends "base.html"%}

{% load djangomarkdown %}

{% block content %}

<h1>{{component_name}}</h1>

<div class="contain-main">
  {% if editable %}
  <div class="operate">
    <span class="edit">
      <a class="button right" href="edit/">edit</a>
    </span>

   
  </div>
  {% endif %}

  <div class="content">
    {{ post.body|djangomarkdown}}
  </div>

  <div class="comment-container">
    <h2>Comments</h2>
    {%for comment in comments%}
    <div class="comment">
	    {{ comment.body|djangomarkdown}}
    </div>
    {%endfor%}

    <form action="" id="new-comment" method="post">{% csrf_token %}
      <input class="text" type="text" name="text">
      <input class="default" type="submit" action="" name="comment" value="submit">
    </form>
  </div>

</div>

{% endblock %}

