{%extends "base.html"%}

{%block content%}
<h1>Edit {{type}}</h1>
<div class="content-main"> 
    <form id="modify_form" name="modify_form" action="../" method="post">{%csrf_token%}
      {% if type|stringformat:"s" == "component" %}
      {{component_form}}

      {{post_form}}
      {%else%}
      {{category_form}}
      {%endif%}
    <div class="submit-row">
      <input type="hidden" name="id" value="{{id}}"/>
      <input type="submit" name="save" value="save" onClick="modify_form.submit()"/>
      {%if editable%}
      <!--<span class="delete">
        <a class="button right" href="../delete/">delete</a>
</span>-->
      <input type="submit" name="delete" value="delete" onClick="modify_form.action='../delete/';modify_form.submit();" />
      {%endif%}
      <input type="submit" name="cancle" value="cancle" onClick="modify_form.submit()">
    </div>

  </form>
</div>
{% endblock %}

{%block footer%}
{{block.super}}
{%endblock%}
  

